@import url('./other-file.css');

body {
display: flex;
justify-content: center;
background: black;
background-size: auto;
box-sizing: border-box;
}

.main-container {
position: relative;
top: 63px;
width: 1137px;
background: #C4C4C4;
border-radius: 10px;

}

h1 {
left: 50%;
font-family: Salsa;
font-style: normal;
font-weight: normal;
font-size: 90px;
line-height: 88px;
text-align: center;
text-decoration-line: underline;
color: #000000;
}

.add-item {
display: flex;
justify-content: center;
}

#todo-input{
height: 50px;
width: 80%;
border-radius: 15px;
background: #FFFFFF;
border: 4px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 55px;
outline: none;

}

.todo-button{
display: flex;
align-items: center;
height: 50px;
width: 50px;
font-size: 35px;
position: relative;
left:-22px;
background: #ACAAAA;
border: 4px solid black;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* @BERNARDO MARTELLI SUGGESTIONS */
border-radius: 0px 55px 55px 0px;
color: white;
transition: all 0.2s ease;
}

.todo-button:hover{
    transform: scale(1.1);
}

.todo-container{
display: flex;
justify-content: center;
}

#item-list{
display:flex;
flex-direction: column;
align-items:center;
position: relative;
justify-content: space-around;
width: 80%;
font-size: 36px;
}

ol{
    display: flex;
    position: relative;
    left: -2%;
    }

li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    counter-increment: li; /* Inspiration --> https://jsfiddle.net/dorapen/7rdb096t/*/
}

    
/* @BERNARDO MARTELLI SUGGESTIONS */
.input-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
 
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    justify-content: space-around;
}

li:before {
	content: counter(li); /*Use the counter as content --> Inspiration: https://jsfiddle.net/dorapen/7rdb096t/*/ 
}

.edit{
    border-radius: 15px;
}

.fa-pencil{
    
    transition: all 0.2s ease-in-out;
}

.fa-pencil:hover {
    transform: rotate(20deg);
}

.delete{
    border-radius: 15px;
}

.fa-trash-o{
    transition: all 0.2s ease-in-out;
}

.fa-trash-o:hover{
    transform: rotate(-20deg);
}