@import url('./other-file.css');

body {
  display: flex;
  justify-content: center;
  background: #797979;
  background-size: auto;
  box-sizing: border-box;
}

.main-container {
  margin-top: 70px;
  width: 450px;
  background: #b9b9b9;
  border-radius: 10px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.add-item { 
  display: flex;
  justify-content: center;
  align-items: center;
}

#todo-input {
  height: 30px;
  width: 65%;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #6b6b6b;
  border-radius: 55px;
  font-size: 14px;
  color: #000000;
  padding-left: 25px;
  margin-right: 5px;
}

#todo-button {
  height: 35px;
  width: 35px;
  border-radius: 55px;
  align-items: center;
  padding-left: 1px;
  background-color: darkblue;
  
}

/* ****************   CSS TODO LIST DYNAMIC   ****************** */

.activities-list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #363636;
}


.activity-container {
  display: flex;
  justify-content: space-evenly;
  width: 360px;
  font-size: 14px;
  padding-top: 7px;
}

.check-box {
  height: 18px;
  width: 18px;
  margin: 6px;
  box-shadow: 0px 4px 4px #6b6b6b;
}

.activity-input {
  height: 30px;
  width: 70%;
  background-color: rgb(255, 254, 254);
  border: 1px solid #d0d0d0;
  box-shadow: 0px 4px 4px #6b6b6b;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 55px 55px 55px 55px;
  margin-bottom: 5px;
  padding-left: 25px;
}

.delete-btn, .edit-btn{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border-color: #ffffff;
  box-shadow: 0px 4px 4px #6b6b6b;
  background-color: #ffffff;
  padding: 2px
}

#todo-input:focus,
.activity-input:focus {
  outline: none;
}