@import url('./other-file.css');

body {
  display: flex;
  justify-content: center;
  background: #000000;
  background-size: auto;
  box-sizing: border-box;
}

.main-container {
  margin-top: 70px;
  width: 450px;
  background: #a0a0a0;
  border-radius: 10px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.add-item { 
  display: flex;
  justify-content: center;
  align-items: top;
}

#todo-input {
  height: 30px;
  width: 67%;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #6b6b6b;
  border-radius: 55px 0px 0px 55px;
  font-size: 14px;
  color: #000000;
  padding-left: 25px;
  margin-bottom: 20px;
}

#todo-button {
  height: 24px;
  width: 30px;
  font-size: 25px;
  background: #2169b6;
  border-radius: 0px 55px 55px 0px;
  box-sizing: content-box;
  box-shadow: 0px 4px 4px #555555;
  color: #ffffff;
  margin-left: 3px;
  outline
}

#todo-button :focus{
  outline:none;
} 

/* ****************   CSS TODO LIST DYNAMIC   ****************** */

.activity-container {
  display: flex;
  justify-content: space-evenly;
  width: 370px;
  font-size: 14px;
  padding-top: 7px;
}

.check-box {
  height: 18px;
  width: 18px;
  margin: 6px;
  box-shadow: 0px 4px 4px #6b6b6b;
}

.activity-input {
  height: 30px;
  width: 70%;
  background-color: rgb(255, 254, 254);
  border: 1px solid #d0d0d0;
  box-shadow: 0px 4px 4px #6b6b6b;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 55px 55px 55px 55px;
  margin-bottom: 5px;
  padding-left: 25px;
}

.delete-btn, .edit-btn{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border-color: #ffffff;
  box-shadow: 0px 4px 4px #6b6b6b;
  background-color: #ffffff;
  padding: 2px
}

#todo-input:focus,
.activity-input:focus {
  outline: none;
}